html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
    color: pink;
    outline: white;
}

#first-cover.cover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("images/wedding.jpg");
    background-size: cover;
    height: 50em;
    width: auto;
    background-attachment: fixed;
    position: relative;
    background-position: center;
    z-index: 1;
}

.opener{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#opener{
    font-size: 5em;
    font-weight: bold;
    font-family: 'Nothing You Could Do', cursive;
    margin: 0;
    margin-top: 1.5em;
}

#logo{
    font-size: 1.5em;
    font-family: 'Dancing Script', cursive;
}

#opener-description{
    font-size: 2.6em;
    margin-bottom: 1.5em;
    text-align: center;
}
nav{
    background: transparent;
    position: absolute;
    width: 100%;
    height: 4.8em;
    padding: 0px;
    margin: 0px;
    z-index: 2;
    transition: all 200ms;
}

.navbar:hover{
    background: white;
    position: fixed;
}

.navbar-flex{
    color: white;
    transition: all 300ms ease;
    margin: 0px;
    margin-top: 4px;
}
.love{
    color: pink;
    font-size: 1.5em;
}

nav:hover .navbar-flex{
    color: pink;
    cursor: pointer;
}

nav:hover .navbar-flex:hover{
    color: rgb(243, 160, 174);
    font-size: 1.5em;
    font-weight: bolder;
}

#logo:hover{
    font-size: 1.7em;
}

ul.navbar-list{
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    font-size: 1.4em;
    align-items: center;
    padding: 0px;
    margin: 0px;
    margin-top: .6em;
}

#get-started{
    height: 3em;
    width: 9em;
    margin: 0px;
}

nav:hover #get-started{
    font-weight: bolder;
}

#get-started:hover{
    font-size: .6em;
}
.button-holder{
    width: 7em;
}

button{
    font-family: 'Dancing Script', cursive;
    background: rgb(243, 185, 221);
    color: white;
    border-radius: 30px;
    border-color: rgb(243, 185, 221);
    cursor: pointer;
    transition: all 150ms linear;
    margin: 0;
    padding: 0; 
    border-style: none;
    font-weight: bold;
    /* taken from cs52 website, hehe */
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.16), 0px 3px 6px 1px rgba(0,0,0,0.23);
}

button:hover{
    background: rgb(250, 209, 235);
    border-color: rgb(250, 209, 235);
    color: rgb(255, 255, 255);
    box-shadow: 0px 5px 8px 3px rgba(0,0,0,0.16), 0px 3px 6px 1px rgba(0,0,0,0.23);
}
button:active{
    background: rgb(250, 209, 235);
    border-color: rgb(250, 209, 235);
    border-style: none;
    box-shadow: 0px 4px 6px 3px rgba(0,0,0,0.16), 0px 3px 6px 1px rgba(0,0,0,0.23);
}

#main-button{
    height: 2em;
    width:15em;
    font-size: 3.3em;
}

#main-button:hover{
    height: 2.2em;
    width: 15.2em;
}
.how-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#how-title{
    text-decoration: underline;
}

.title{
    font-size: 4em;
    font-family: 'Nothing You Could Do', cursive;
    height: 2.3em;
}

.step{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 45em;
}

#step-1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/wedding2.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: center;
    z-index: 1;
    background-position-y: top;
}

#step-1:hover #step-1-header{
    font-size: 3.6em;
    color: white;
}

#step-1:hover #step-1-description{
    font-size: 2.1em;
    color: white;
}

#step-2:hover #step-2-header{
    font-size: 3.6em;
    color: white;
}

#step-2:hover #step-2-description{
    font-size: 2.1em;
    color: white;
}
#step-3:hover #step-3-header{
    font-size: 3.6em;
    color: white;
}

#step-3:hover #step-3-description{
    font-size: 2.4em;
    color: white;
}
#step-3:hover .best-day{
    border-bottom: 3px white solid;
}
#step-2:hover .best-day{
    border-bottom: 3px white solid;
}
#step-1:hover .best-day{
    border-bottom: 3px white solid;
}

.best-day{
    transition: 200ms border-bottom ease;
    transition-delay: 900ms;
}


#step-2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/wedding3.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: center;
    z-index: 1;
    background-position-y: center;
    flex-direction: row-reverse;
}

#step-3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/wedding5.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-position: top;
    z-index: 1;
}

.step-header{
    font-size: 3.5em;
    color: pink;
    font-weight: bold;
    transition: font-size 400ms, color 2s;

}

.step-description{
    transition: color 2s, font-size 400ms;
    text-align: center;
    font-size: 2em;
}



.step-header-extra:before{ /* taken from stack-overflow */
    content: " ";
    display: inline-block;
}

.step-header-extra{
    font-size: 2.6em;
    font-style: bold;
    font-family: 'Nothing You Could Do', cursive;
}


.highlights-title-container{
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

#highlights-title{
    padding: 0;
    margin: 0;
    margin-top: 30px;
}
strong{
    font-size: 1.3em;
    font-family: 'Nothing You Could Do', cursive;
}

.highlight-header-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 100%;
}

.highlight-list{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    list-style-type: none;
    text-align: center;
    border-radius: 20px;
    width: auto;
    height: 20em;
    margin: 0px;
    padding: 0px;
    margin-bottom: 40px;
}

.highlight-header{
    font-size: 2.5em;
    font-family: 'Nothing You Could Do', cursive;
    color:  white;
    border-bottom: 5px dotted lemonchiffon;
    transition: all 200ms;
    margin-top: 14px;
}

.highlight-description{
    font-size: 1.5em;
    color: white;
    transition: all 200ms;
}

.highlight-description-container{
    background-color: pink;
    border-radius: 20px;
    height: 20em;
    width: 20em;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.16), 0px 3px 6px 1px rgba(0,0,0,0.23);
}


.carosel-title-container{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/wedding6.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: bottom;
    z-index: 1;
    background-position-y: top;
    height: 35em;
    text-align: center;
}

.carosel-title-container:hover #carosel-title{
    font-size: 4.1em;
    color: white;
}

.carosel-title-container:hover #carosel-title-split{
    font-size: 2.6em;
    color: white;
    border-bottom: 7px white solid;
}

span.title-split{
    font-size: 2.4em;
    transition: font-size 800ms, border-bottom 800ms, color 1.5s;
    transition-delay: 0s, 500ms, 0s;
}

#carosel-title.title{
    transition: font-size 500ms, color 750ms;
}

.carosel-main{
    font-size: 1.7em;
}

/* received help from a TA on format of carosel container */
#carosel-container{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 35px;
    padding: 0px;
    align-items: center;
}



.contact-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.carosel-box{
    position: relative;
    display: inline-block;
}

.img-box{
    width: 35em;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.carosel-subtitle-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.subtitle{
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
}
.img-box-overlay{ /* received help from a TA on spacing */
    background-color:pink;
    height: 65px;
    position: absolute;
    opacity: .9;
    margin-left: 10px;
    width: 560px;
    top: 310px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 200ms;
}
.carosel-box:hover .img-box-overlay{
    height: 90px;
    top: 285px;
}

.img-box-overlay-title{
    color: white;
    align-items: center;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
}

.see-more{
    width: 110px;
    height: 50px;
    font-size: 1.5em;
    background-color: white;
    color: pink;
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 40px;
    height: 13em;
}

.sm-container{
    height: 13em;
    width: 14em;
    justify-content: center;
    display: flex;
}

.social{
    width: 9em;
    height: 9em;
    cursor: pointer;
    transition: all 240ms;
}

.social:hover{
    width: 10em;
    height: 10em;
}
#contact-title{
    margin: 0px;
    padding: 0px;
}

.email-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{ /* color scheme adapted from simpleanalytics.com*/
    background-color: transparent;
    color: pink;
    border-radius: 4px;
    border: transparent;
    border-bottom: 2px solid pink;
    margin-left: 10px;
    margin-right: 10px;
    height: 2em;
}

input::placeholder{
    color: rgb(250, 225, 229);
    font-size: 1.2em;
}
.email-p{
    font-size: 2em;
    font-style: bold;
}
#send{
    width: 7em;
    height: 3em;
}
.link-list > *:hover, a:hover{ /* > * taken from w3schools website */
    color: lemonchiffon;
}

.link-list > *{
    transition: all 200ms ease;
}


.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(243, 185, 221);
    border-radius: 8px;
}
.m-footer-nav{
    display: none;
}

.fheader{
    font-size: 1.3em;
    color: rgb(250, 242, 246);
    cursor: pointer;
}

ul{
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
    transition: all 200ms ease;
}

#logo-footer{
    font-size: 3.1em;
    font-family: 'Dancing Script', cursive;
}

.dropdown{
    display: none;
}

@media only screen and (max-width: 640px){
    #opener{
        text-align: center;
    }

    #first-cover.cover{
        height: max-content;
        padding-bottom: 20px;
    }

    #main-button{
        width: max-content;
        transition: 200ms;
    }
    #step-2-header{
        text-align: center;
        width: 7em;
    }
    .step-header{
        width: auto;
        text-align: center;
    }
    .highlight-list{
        align-items: center;
        flex-direction: column;
        height: max-content;
    }
    .highlight-description-container{
        margin-bottom: 2em;
    }
    .step{
        flex-direction: column;
        justify-content: center;
        background-position: right;
        background-repeat: no-repeat;
    }
    #step-2{
        flex-direction: column;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;

    }
    #step-3-header{
        font-size: 2em;
        overflow-wrap: normal;
    }
    #step-3:hover #step3{
        font-size: 2.2em;
    }
    #step-3{
        background-position: top;
        height: 50em;
    }
    .step-header-extra{
        font-size: 1.8em;
    }
    span.title-split{
        font-size: 1.6em;
    }
    .carosel-title-container:hover #carosel-title-split{
        font-size: 1.8em;   
    }
    .navbar{
        display: none;
    }
    .navbar:hover{
        background-color: none;
        display: none;
        background: none;
    }
    input[type="checkbox"]{
        display: none;
    }
    input[type="checkbox"]:checked #first-cover.cover{
        height: 60em;
    }

    #hamburger{
        top: 20px;
        left: 100px;
    }

    .hamburger-list{
        height: 0px;
        padding: 0px;
        transition: all 750ms ease;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }

    input[type=checkbox]:checked ~ #hamlist.hamburger-list{
        padding: 0px;
        height: 400px;
        border-bottom: white 5px solid;
        
    }
    .h-list-item{
        width: 100%;;
        text-align: center;
        margin-top: auto;
    }
    .h-r{
        color: white;
        font-family: 'Nothing You Could Do', cursive;
        font-size: 2em;
        font-weight: bold;
    }

    label{
        font-size: 6em;
        color: white;
    }
    .dropdown{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: pink;
        box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.16), 0px 3px 6px 1px rgba(0,0,0,0.23);
    }
    #main-button:hover{
        width: max-content;
        height: 2.3em;
    }
    #contact-title{
        text-align: center;
    }
    .contact-container{
        flex-direction: column;
        height: max-content;
    }
    .social{
        padding-top: 50px;
    }
    .email-container{
        flex-direction: column;
        padding-bottom: 30px;
    }
    .email-p{
        text-align: center;
    }
    input{
        margin-bottom: 30px;
    }

    .footer-container{
        display: none;
    }
    .m-footer-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: pink;
        align-items: center;
        height: 20em;
    }
    #plus{
        font-size: 2em;
    }
    .m-div-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: pink;
        box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.16), 0px 3px 6px 1px rgba(0,0,0,0.23);
    }
    #resources-checkbox[type=checkbox]:checked ~ #m-resources-ll{
        height: 200px;
        border-top: solid 4px white;
        border-bottom: solid 4px white
    }
    #about-checkbox[type=checkbox]:checked ~ #m-about-ll{
        height: 200px;
        border-top: solid 4px white;
        border-bottom: solid 4px white
    }
    #account-checkbox[type=checkbox]:checked ~ #m-account-ll{
        height: 200px;
        border-top: solid 4px white;
        border-bottom: solid 4px white
    }
    #social-media-checkbox[type=checkbox]:checked ~ #m-social-media-ll{
        height: 200px;
        border-top: solid 4px white;
        border-bottom: solid 4px white;
    }
    .m-footer-link-list{
        height: 0px;
        padding: 0px;
        transition: all 750ms ease;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }

    .m-footer-nav{
        display: flex;
        flex-direction: column;
    }
    #m-header-logo{
        font-size:3.2em;
        font-family: 'Dancing Script', cursive;
    }
    #h-logo{
        font-size: 3.1em;
        font-family: 'Dancing Script', cursive;

    }



}

